<div class="max-w-lg mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label for="unit" class="block text-sm font-medium text-gray-700">Unit</label>
        <input
          id="unit"
          type="text"
          formControlName="unit"
          class="mt-1 block w-full p-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
          placeholder="Enter Unit"
        />
        @if(form.get('unit')?.invalid && form.get('unit')?.touched){       
            <div  class="text-red-500 text-sm">
              Unit is required.
            </div>
        }
      </div>
  
      <div>
        <label for="invoice1" class="block text-sm font-medium text-gray-700">Invoice 1</label>
        <input
          id="invoice1"
          type="text"
          formControlName="invoice1"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-2"
          placeholder="Enter Invoice 1"
        />

        @if(form.get('invoice1')?.invalid && form.get('invoice1')?.touched){         
            <div  class="text-red-500 text-sm">
              Invoice 1 is required.
            </div>
        }
      </div>
  
      <div>
        <label for="invoice2" class="block text-sm font-medium text-gray-700">Invoice 2</label>
        <input
          id="invoice2"
          type="text"
          formControlName="invoice2"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-2"
          placeholder="Enter Invoice 2"
        />
        @if(form.get('invoice2')?.invalid && form.get('invoice2')?.touched){          
            <div class="text-red-500 text-sm">
              Invoice 2 is required.
            </div>
        }
      </div>
  
      <div>
        <label for="databaseUrl" class="block text-sm font-medium text-gray-700">Database URL</label>
        <input
          id="databaseUrl"
          type="text"
          formControlName="databaseUrl"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-2"
          placeholder="Enter Database URL"
        />

        @if(form.get('databaseUrl')?.invalid && form.get('databaseUrl')?.touched){          
            <div  class="text-red-500 text-sm">
              Enter a valid URL.
            </div>
        }
      </div>
  
      <div>
        <label for="reportName" class="block text-sm font-medium text-gray-700">Report Name</label>
        <input
          id="reportName"
          type="text"
          formControlName="reportName"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-2"
          placeholder="Enter Report Name"
        />
        @if(form.get('reportName')?.invalid && form.get('reportName')?.touched){          
            <div  class="text-red-500 text-sm">
              Report Name is required.
            </div>
        }
      </div>
  
      <div>
        <label for="reportPath" class="block text-sm font-medium text-gray-700">Report Path</label>
        <input
          id="reportPath"
          type="text"
          formControlName="reportPath"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-2"
          placeholder="Enter Report Path"
        />

        @if(form.get('reportPath')?.invalid && form.get('reportPath')?.touched){
            <div  class="text-red-500 text-sm">
              Report Path is required.
            </div>

        }
      </div>
  
      <div>
        <button
          
          class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  
